.cardImg {
    width: auto;
    height: 150px;
    object-fit: contain;
    margin: 35px 0;
}

.cardProduct {
    height: 380px;
    position: relative;
}

.imgProductDetail {
    height: 200px;
    object-fit: contain;
}

.logo {
    width: 100px;
    height: auto;
}

.homeTextNav,
.purchasesTextNav,
.loginTextNav {
    color: white;
}

.navbar-toggler:hover {
    background-color: #747474;
}

.navbar-toggler:hover {
    outline: none;
    border-radius: 3px;
    border: none;
}

.categoryList {
    margin-top: 30px;
}

.categoryTitle {
    color: #ffffff;
    font-weight: bolder;
    background-color: rgb(52, 58, 64);
    padding: 10px 15px;
}

.list-group-item:hover {
    cursor: pointer;
    background-color: #e6ad34;
    color: #ffffff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: none;
}

.d-flex {
    margin: 30px 0;
}

.form-control {
    background-color: #ffffff;
    border: solid rgb(196, 196, 196) 1px;
}

.btn-secondary {
    background-color: #e6ad34;
}

.cardProduct:hover, .cardProductSugested:hover {
    box-shadow: 1px 8px 20px grey;
    -webkit-transition: box-shadow 0.5s ease-in;
    cursor: pointer;
}

.d-block {
    height: 300px;
    object-fit: contain;
}

.productsDetailContainer {
    margin-top: 5rem;
}

.productDetailText {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productDetailPrice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.productDescription {
    font-size: 13px;
}

.productDetailPrice h5 {
    color: #747474;
}

.buttonDecrement,
.buttonIncrement {
    width: 40px;
    border: solid #cccbcb 1px;
    background-color: #ececec;
    outline: none;
    font-size: 20px;
}

.count {
    display: block;
    border: solid #cccbcb 1px;
    height: 34px;
    width: 40px;
    text-align: center;
    padding-top: 4px;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.addButton {
    border: none;
    background-color: #e6ad34;
    padding: 10px;
    margin-top: 20px;
}

.productsSugested {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 60px 0;
}

.cardProductSugested {
    height: 350px;
    width: 250px;
}


.productsSugestedTitle {
    margin-left: 8%;
    margin-top: 50px;
}

.purchaseProductTitle,
.purchaseProductPrice,
.purchaseProductQuantity {
    margin: 0;
    margin-left: 20%;
}

.purchaseProductTitle:hover {
    cursor: pointer;
    color: black;
    font-weight: 900;
}

.purchaseProductInfo {
    display: grid;
    grid-template-columns: 45% 25% 30%;
    margin: 20px 0;
}

.purchase {
    margin-top: 20px;
    border: solid rgb(156, 156, 156) 1px;
    border-radius: 15px;
    width: 90%;
}

.purchaseProductQuantity {
    border: solid rgb(156, 156, 156) 1px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.datePurchase {
    margin: 20px;
    border-bottom: solid rgb(156, 156, 156) 1px;
    padding-bottom: 10px;
    font-weight: 900;
}

.purchases {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.purchasesTitle {
    margin-top: 40px;
    margin-left: 5%;
}

.logoutButton {
    background-color: #343a40;
    color: #ffffff;
}

.logoutButton:hover {
    background-color: #343a40;
    color: black;
}

.login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginTitle {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: bold;
}

.testData {
    text-align: center;
    font-weight: 900;
}

.testDataContainer {
    background-color: rgb(255, 241, 195);
    padding: 15px;
    margin-bottom: 30px;
}

.fa-envelope,
.fa-lock {
    margin-left: 10px;
    margin-right: 10px;
}

.userText,
.passwordText {
    margin: 0;
}

.loginContainer {
    border: solid rgb(221, 221, 221) 1px;
    padding: 30px;
    width: 45%;
}

.loginButton {
    width: 100%;
    align-self: center;
}

.cart {
    padding-top: 20px;
    position: relative;
    margin-bottom: 20px;
}

.brandAndDeleteCart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.quantityProductCart {
    width: 45px;
    height: 25px;
    border: solid rgb(221, 221, 221) 1px;
    text-align: center;
    border-radius: 5px;
}

.productPriceCart {
    font-weight: 900;
    position: relative;
    left: 60%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.cartProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offcanvas-body {
    overflow-x: hidden;
}

.buttonDeleteCart {
    border: none;
    background-color: white;
}

.fa-trash-can {
    color: red;
    font-size: 17px;
}

.brandAndDeleteCart,
.productTotalCart {
    color: #747474;
    font-size: 14px;
    font-weight: 900;
}

.productPriceText,
.titleProductCart {
    color: rgb(46, 46, 46);
    font-weight: bold;
}

.totalCart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.totalCartDiv {
    width: 98%;
    border-top: solid rgb(221, 221, 221) 1px;
    padding-top: 30px;
}

.checkout {
    width: 100%;
    margin-left: 1%;
    border: none;
    background-color: #e6ad34;
    padding: 5px;
}

.titleProductCart:hover {
    cursor: pointer;
}

.navMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.cartNavButton {
    background-color: #343a40;
    display: block;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: none;
    position: relative;
    padding-top: 20px;
}

.counterCart {
    position: relative;
    top: -35px;
    margin: 0;
    left: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #747474;
}

.cartNavButton:hover {
    background-color: #343a40;
    color: black;
}

.btn-dark::after {
    border-radius: 20px;
}

.fa-user,
.fa-store,
.fa-cart-shopping {
    margin-right: 10px;
}

.navbar-toggler {
    background-color: #747474;
}

.addCartHomeButton {
    position: absolute;
    bottom: 40px;
    right: 20px;
    width: 48px;
    height: 48px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    background-color: #eca305;
    color: white;
    font-size: 22px;
    text-align: center;
}

.homeContainer {
    padding-bottom: 40px;
}

.iconCartDetail {
    margin-left: 20px;
}


@media only screen and (max-width: 575px) {
    .btn-secondary {
        position: relative;
        left: -15px;
    }

    .productDetailText {
        margin: 40px 20px;
    }

    .productsSugested {
        flex-direction: column;
    }

    .nav-link {
        width: 70%;
        text-align: center;
    }

    .loginContainer {
        width: 95%;
    }
}